<div id="MvcLookup" class="mvc-lookup">
    <div class="mvc-lookup-search-group">
        <div class="mvc-lookup-search-box">
            <input class="mvc-lookup-search" />
            <div class="mvc-lookup-rows">
                <input />
            </div>
        </div>
    </div>
    <div class="mvc-lookup-loading">
    </div>
    <div class="mvc-lookup-error alert alert-danger">
    </div>
    <table class="table table-hover table-striped table-bordered">
        <thead></thead>
        <tbody></tbody>
    </table>
    <ul class="pagination"></ul>
</div>
